.agenda {
  text-align: left;
  margin: 25px 0;
  .description {
    li:first-child { padding: 25px 0 0 !important; }
  }
  .presentation {
    padding: 10px 0 0;
    .icon-download { margin-right: 10px; }
  }
  .date {
    color: #000000;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .title {
    margin: 0;
    padding: 35px 0 0;
    font-family: "Oswald",sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: .5px;
    color: #bb6c44;
    text-align: left;
  }
  .name {
    font-family: "Source Sans Pro",sans-serif;
    font-weight: 600;
    color: #000000;
  }
  .section {
    border: none;
    padding: 0;
    margin: 0;
  }
  .agenda-description {
    .speaker {
      text-align: left;
      padding: 0;
      margin: 0;
      .company { color: $pi-gray; }
    }
  }
}

@media only screen and (min-width: 768px) {
  .agenda {
    &:first-child { padding: 0; }
    .title {
      padding: 0;
      margin: 10px 0 0;
      &.sub { padding: 35px 0 0; }
     }
    .agenda-location {
      vertical-align: top;
      display: inline-block;
      width: 25%;
    }
    .agenda-description {
      vertical-align: top;
      display: inline-block;
      width: 70%;
      .speaker {
        padding: 0 10px 0 0;
      }
    }
  }
}
