html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

@font-face {
    font-family: 'ns-fonts';
    src: url("../../fonts/ns-fonts.eot?76qmfw");
    src: url("../../fonts/ns-fonts.eot?76qmfw#iefix") format("embedded-opentype"),
         url("../../fonts/ns-fonts.ttf?76qmfw") format("truetype"),
         url("../../fonts/ns-fonts.woff?76qmfw") format("woff"),
         url("../../fonts/ns-fonts.svg?76qmfw#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
}

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 30px 0 0px 0;
    padding: 0;
}

audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

@media print {
    *, *:before, *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a, a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href)")";
    }

    abbr[title]:after {
        content: " (" attr(title)")";
    }

    a[href^="#"]:after, a[href^="javascript:"]:after {
        content: "";
    }

    pre, blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr, img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }

    h2, h3 {
        page-break-after: avoid;
    }
}



html, body {
    width: 100%;
    height: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #545454;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    line-height: normal;
}

#test {
    font-family: "Gotham Narrow A", "Gotham Narrow B";
}

p {
    margin-top: 16px;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: #545454;
    outline: none;
    -webkit-transition: all .2s linear;
            transition: all .2s linear;
}



a img {
    -webkit-backface-visibility: hidden;
    -webkit-transition: all .2s linear;
            transition: all .2s linear;
}

a:hover img {
    opacity: .7;
}

.media img:hover {
    -webkit-transition: all .2s linear;
            transition: all .2s linear;
}

.media img:hover {
    opacity: .7;
}

article a {
    color: #bb6c44;
}

main {
    position: relative;
    z-index: 0;
}

figure {
    margin: 0;
}

.wrap-one {
    max-width: 1200px;
    margin: 0 auto;
}

.wrap-two {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
}

.wrap-three {
    max-width: 895px;
    margin: 0 auto;
}

.table {
    height: inherit;
    width: inherit;
    display: table;
}

.table-cell {
    height: inherit;
    width: 500px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.mobile {
    display: block;
}

.desktop {
    display: none;
}

.icon-rightarrow {
    -webkit-transition: all .2s linear;
            transition: all .2s linear;
}

.view {
    font-family: "Oswald", sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: #00451c;
    text-transform: uppercase;
}

.link {
    display: inline-block;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    margin-top: 25px;
    font-size: 18px;
    letter-spacing: 1px;
    color: #006529;
}

.link .icon-arrow-right {
    display: inline-block;
    font-size: 14px;
}

.secondary-section {
    background-color: #f8f5ee;
    padding: 25px 20px;
}

@media only screen and (min-width: 768px) {
    body {
        font-size: 16px;
    }

    .content-wrap {
        width: 100%;
        padding-right: 350px;
        padding-left: 20px;
    }

    .button {
        width: auto;
    }

    .secondary-section {
        padding: 75px 20px;
    }
}

@media only screen and (min-width: 1024px) {
    body {
        font-size: 18px;
    }

    .button {
        margin-top: 50px;
    }

    .desktop {
        display: block;
    }

    .mobile {
        display: none;
    }

    #main-nav li a { font-size: 18px; }

    .fixed {
        position: fixed;
        z-index: 5;
        top: 0;
        width: 100%;
        #main-nav {
          li a { padding: 15px 0 13px; }
          .register {
            padding: 6px 35px;
          }
        }
    }
}

.header-wrap ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#main-header {
    border-bottom: 1px solid #ccc;
}

#main-header .main-logo {
    text-align: left;
    padding: 15px 20px;
    float: left;
    border-bottom: none;
}

#main-header .main-logo svg {
    width: 165px;
    height: 23px;
}

#main-header .main-logo span {
    display: inline-block;
    vertical-align: middle;
    color: #ccc;
    font-size: 16px;
    margin-top: 5px;
    margin-left: 0px;
    -webkit-transition: .3s ease;
            transition: .3s ease;
}

#main-header .color {
    fill: #bbbbbb;
    -webkit-transition: .3s ease;
            transition: .3s ease;
}

#main-header .main-logo:hover .color {
    fill: #828282;
}

#main-header .main-logo:hover span {
    padding-left: 5px;
    color: #828282;
    opacity: 0;
}

@media only screen and (min-width: 768px) {
    #main-header {
        background-color: #f9f9f9;
    }
}

#parent-nav {
    display: none;
}

#parent-nav li {
    border-bottom: none;
    display: inline-block;
}

#parent-nav a {
    display: block;
    font-family: "Droid Serif", serif;
    font-size: 12px;
    font-weight: 700;
    color: #828282;
    padding: 0 10px;
    line-height: normal;
}

#parent-nav a:hover {
    color: #00451c;
}

.main-logo:hover #parent-nav {
    display: inline-block;
}

#secondary-header {
    position: relative;
}

#secondary-header .main-hamburger {
    position: absolute;
    top: 15px;
    right: 13px;
    cursor: pointer;
    width: 40px;
    height: 32px;
}

#secondary-header .main-hamburger span {
    display: block;
    height: 4px;
    background-color: #979797;
    width: 30px;
    margin: 5px;
    -webkit-transition: .3s ease;
            transition: .3s ease;
}

#secondary-header .close .one {
    position: absolute;
    top: 10px;
    -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
            transform: rotate(135deg);
}

#secondary-header .close .two {
    display: none;
}

#secondary-header .close .three {
    position: absolute;
    top: 10px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}

#secondary-header .secondary-logo {
    text-align: left;
    padding: 15px 20px;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
}

#secondary-header .secondary-logo img {
    width: 150px;
    height: 31px;
}

#secondary-header .conference-info {
    padding: 20px;
}

#secondary-header h1 {
    font-family: "Gotham Narrow A", "Gotham Narrow B";
    font-weight: 500;
}

#secondary-header h1 a {
    font-family: "Gotham Narrow A", "Gotham Narrow B";
    font-weight: 500;
    font-size: 24px;
    text-align: left;
    color: #000;
    margin: 0;
    text-transform: none;
}

@media only screen and (min-width: 768px) {
    #secondary-header h1 a {
        font-size: 32px;
    }
}

@media only screen and (min-width: 1024px) {
    #secondary-header h1 a {
        font-size: 42px;
    }
}

#secondary-header h1 a:hover {
    color: #525252;
}

#secondary-header time {
    display: none;
}

#secondary-header .register {
    display: block;
    margin-top: 25px;
    padding: 15px 35px;
    font-family: "Oswald", sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5px;
    background-color: #bb6c44;
    color: #fff;
}

#secondary-header .register:hover {
    background-color: #cf6c3a;
}

@media only screen and (min-width: 1024px) {
    #secondary-header {
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        padding: 20px;
        background-color: #FFFFFF;
    }

    #secondary-header time {
        display: inline-block;
        font-family: "Oswald", sans-serif;
        font-size: 16px;
        letter-spacing: .5px;
        text-transform: uppercase;
        color: #979797;
    }

    #secondary-header .secondary-logo {
        border-bottom: none;
        background-color: transparent;
        padding: 0;
        margin-bottom: 10px;
    }

    #secondary-header .register {
        display: none;
    }

    #secondary-header .main-hamburger {
        display: none;
    }

    #secondary-header .conference-info {
        padding: 0px;
    }
}

#user-nav {
    border-bottom: 1px solid #ccc;
}

#user-nav li {
    float: left;
    width: 50%;
    border-left: 1px solid #ccc;
}

#user-nav img {
    width: 22px;
}

#user-nav li:first-child {
    border-left: none;
}

#user-nav a {
    display: block;
    width: 100%;
    padding: 10px 20px;
    font-family: "Oswald", sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    letter-spacing: .5px;
    line-height: normal;
    color: #ccc;
}

#user-nav a span {
    font-size: 22px;
}

#user-nav a:hover {
    color: #828282;
}

@media only screen and (min-width: 768px) {
    #user-nav {
        border-bottom: none;
        float: right;
    }

    #user-nav li {
        width: auto;
        border-left: none;
        margin-top: 17px;
        margin-right: 20px;
    }

    #user-nav li:first-child {
        border-left: none;
    }

    #user-nav a {
        font-size: 14px;
        padding: 0px;
    }
}

@media only screen and (min-width: 1024px) {
    .fixed #secondary-header {
        border-top: 1px solid #ccc;
        padding: 15px 20px;
    }

    .fixed #secondary-header h1 a {
        font-size: 32px;
    }

    .fixed .secondary-logo, .fixed .conference-info {
        display: inline-block;
        vertical-align: middle;
    }

    .fixed .secondary-logo {
        margin-bottom: 0px !important;
    }

    .fixed .conference-info {
        margin-left: 25px;
    }

    .fixed time {
        display: none !important;
    }

    .fixed-margin {
        margin-top: 204px;
    }
}

footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

@media only screen and (min-width: 1024px) {

}

footer a:hover {
    color: #828282;
}

#footer-nav {
    padding: 20px 20px 0;
}

#footer-nav svg {
    width: 150px;
    height: 28px;
}

#footer-nav .color {
    fill: #bbb;
    -webkit-transition: .3s ease;
            transition: .3s ease;
}

#footer-nav a:hover .color {
    fill: #828282;
}

#footer-nav ul {
    margin-top: 25px;
}

#footer-nav li {
    border-top: 1px solid #ccc;
}

#footer-nav a {
    display: block;
    padding: 20px 0;
    font-family: "Roboto Condensed", sans-serif;
    color: #979797;
    font-size: 16px;
    font-weight: 700;
}

#footer-nav a:hover {
    color: #828282;
}

@media only screen and (min-width: 768px) {
    #footer-nav {
        padding: 0 20px;
        margin: 35px 0;
    }

    #footer-nav .footer-logo {
        float: left;
    }

    #footer-nav ul {
        float: right;
        margin-top: 5px;
    }

    #footer-nav li {
        border-top: 0;
        display: inline-block;
        margin-left: 25px;
    }

    #footer-nav a {
        display: inline;
        padding: 0;
    }
}

@media only screen and (min-width: 1024px) {
    #footer-nav svg {
        width: 200px;
        height: 28px;
    }
}

@media only screen and (min-width: 1255px) {
    #footer-nav {
        padding: 40px 0;
        margin: auto;
    }
}

.footer-wrap {
    padding: 20px;
    background-color: #f9f9f9;
    text-transform: uppercase;
    color: #9e9e9e;
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

@media only screen and (min-width: 768px) {
    .footer-wrap {
        border-top: 1px solid #ccc;
        padding: 0px 20px;
    }

    .footer-wrap .copy {
        float: left;
        padding: 40px 0;
        line-height: 34px;
    }
}

.footer-wrap .newsletter {
    margin-top: 16px;
}

.footer-wrap .newsletter img {
    display: none;
}

.footer-wrap .social-nav {
    margin-top: 16px;
    font-size: 24px;
}

@media only screen and (min-width: 768px) {
    .footer-wrap .social-wrap {
        float: right;
    }

    .footer-wrap .newsletter {
        float: left;
        margin-top: 0;
        border-left: 1px solid #ccc;
        padding: 40px 20px;
    }

    .footer-wrap .newsletter img {
        display: inline-block;
        width: 30px;
        margin-right: 10px;
        vertical-align: top;
        margin-top: 7px;
    }

    .footer-wrap .newsletter a {
        line-height: 34px;
        vertical-align: middle;
    }

    .footer-wrap .social-nav {
        margin-top: 0;
        float: left;
        border-left: 1px solid #ccc;
        padding: 40px 0px 40px 20px;
    }
}

.footer-wrap li {
    display: inline-block;
    margin-right: 5px;
}

.footer-wrap a {
    text-decoration: none;
    color: #9e9e9e;
}

.page main h1 {
    margin-top: 25px;
    margin-bottom: 15px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    color: #9e865a;
}

.page main h2 {
    margin: 35px 0;
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: normal;
    color: #9e865a;
}

.page main p {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    line-height: 30px;
    color: #545454;
}

.page main header {
    padding: 0 20px;
}

.page main header p {
    margin: 0;
}

.page main section {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

@media only screen and (min-width: 1255px) {
    .page main section {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

.page main section h2 {
    text-align: center;
}

.page main .text {
    text-align: center;
    max-width: 650px;
    margin: 0 auto;
}

.page main article h2 {
    color: #000;
    text-transform: none;
    margin: 25px 0;
    text-align: left;
}

.page main .secondary-section h2 {
    margin-top: 0;
}

@media only screen and (min-width: 768px) {
    .page main h1 {
        font-size: 32px;
        margin: 35px 0;
    }

    .page main h2 {
        font-size: 18px;
    }

    .page main p {
        font-size: 16px;
    }
}

@media only screen and (min-width: 1024px) {
    .page main h1 {
        font-size: 42px;
    }

    .page main h2 {
        font-size: 22px;
    }

    .page main p {
        font-size: 18px;
    }

    .page main article h2 {
        margin-top: 0;
        font-size: 32px;
    }
}

.page main .main-info {
    display: none;
}

@media only screen and (min-width: 768px) {
    .page main .main-info {

    }
}

.page main .main-info li {
    width: 100%;
}

@media only screen and (min-width: 1024px) {
    .page main .main-info a {
        font-size: 22px;
    }
}

.page main .main-info a:hover {
    background-color: #f1ece2;
}

.page main .main-info .icon-arrow-right {
    font-size: 16px;
    -webkit-transition: all .2s linear;
            transition: all .2s linear;
}

.page-venue ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.page-venue img {
    width: 100%;
}

.page-venue h2 {
    margin-bottom: 25px;
}

.page-venue #venue-location {
    padding: 0 20px;
    font-family: "Source Sans Pro", sans-serif;
}

.page-venue #venue-location .address img {
    display: none;
}

.page-venue #venue-location iframe {
    display: none;
}

.page-venue #venue-location .location-info {
    background-color: #f8f5ee;
    padding: 25px 20px;
    display: table;
    width: 100%;
}

.page-venue #venue-location .info-wrap {
    display: table-cell;
    vertical-align: middle;
}

.page-venue #venue-location h2 {
    margin: 0 0 25px;
    text-transform: none;
    font-size: 18px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: .5px;
    color: #000;
    text-align: left;
}

.page-venue #venue-location address {
    font-style: normal;
}

.page-venue #venue-location .phone {
    display: block;
}

.page-venue #venue-location a {
    display: inline-block;
    margin-top: 25px;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    letter-spacing: .5px;
    color: #bb6c44;
}

.page-venue #venue-location a span {
    font-size: 14px;
}

@media only screen and (min-width: 768px) {
    .page-venue #venue-location {
        padding: 0 20px;
        font-family: "Source Sans Pro", sans-serif;
    }

    .page-venue #venue-location iframe {
        display: block;
        height: 229px;
        float: left;
        width: 50%;
    }

    .page-venue #venue-location .location-info {
        float: left;
        width: 50%;
        background-color: #f8f5ee;
    }
}

@media only screen and (min-width: 1024px) {
    .page-venue #venue-location img {
        float: left;
        width: 50%;
    }

    .page-venue #venue-location h2 {
        font-family: "Source Sans Pro", sans-serif;
        font-size: 32px;
        font-weight: 600;
        text-transform: none;
    }

    .page-venue #venue-location .address {
        float: right;
        width: 50%;
        position: relative;
    }

    .page-venue #venue-location .address .address-wrap {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .page-venue #venue-location .address img {
        display: block;
        width: 100%;
    }

    .page-venue #venue-location .address iframe,
    .page-venue #venue-location .address .location-info {
        height: inherit;
    }

    .page-venue #venue-location .address .info-wrap {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media only screen and (min-width: 1255px) {
    .page-venue #venue-location {
        padding: 0;
    }
}

.page-exhibitors #exhibitors {
    padding: 0 20px;
}

.page-exhibitors #exhibitors ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.page-exhibitors #exhibitors li {
    margin-top: 50px;
}

@media only screen and (min-width: 1024px) {
    .page-exhibitors #exhibitors {
        margin-bottom: 100px;
    }

    .page-exhibitors #exhibitors li {
        display: inline-block;
        margin-top: 0;
        margin-right: -5px;
        width: 20%;
        padding: 25px 0 0 25px;
    }

    .page-exhibitors #exhibitors ul {
        padding-bottom: 25px;
        border-top: 1px solid #ccc;
    }

    .page-exhibitors #exhibitors ul:first-child {
        border-top: 0;
    }

    .page-exhibitors #exhibitors img {
        margin: 0;
    }
}

.page-contact main h2 {
    margin-top: 0;
}

.page-contact #registration {
    padding-top: 0;
}

.page-contact .contacts {
    border-top: 1px solid #ccc;
    text-align: center;
    padding-top: 50px;
    margin-top: 50px;
}

.page-contact .contacts .contact-info {
    display: inline-block;
    margin-left: -2px;
    margin-right: -1px;
    margin-top: 50px;
    width: 100%;
}

.page-contact .contacts h4 {
    color: #000;
    font-size: 20px;
    margin-bottom: 5px;
}

.page-contact .contacts a {
    color: #545454;
}

.page-contact .contacts a:hover {
    color: #006529;
}

.page-contact .contacts ul {
    list-style: none;
    margin: 25px 0 0 0;
    padding: 0;
}

@media only screen and (min-width: 1024px) {
    .page-contact .contacts {
        margin-top: 75px;
    }

    .page-contact .contacts .contact-info {
        width: auto;
        padding-left: 50px;
        text-align: left;
    }

    .page-contact .contacts img, .page-contact .contacts ul {
        display: inline-block;
        vertical-align: middle;
        margin: 0;
    }

    .page-contact .contacts ul {
        margin-left: 25px;
        text-align: left;
        line-height: 24px;
        width: 250px;
    }
}

.page-contact .first {
    border-top: none;
}

.sponsor-group {
    border-top: 1px solid #ccc;
}

.sponsor-group:first-child {
    border-top: none;
}

.sponsors-wrap {
    text-align: center;
    border-top: 1px solid #ccc;
}

.sponsors-wrap h2 {
    margin-top: 50px;
    margin-bottom: 25px;
}

.sponsors-wrap li {
    padding: 25px 0;
}

@media only screen and (min-width: 1024px) {
    .sponsors-wrap h2 {
        margin-top: 75px;
        margin-bottom: 25px;
    }

    .sponsors-wrap li {
        display: inline-block;
        margin-left: -4px;
        width: 20%;
        padding-bottom: 0;
    }
}

.page-sponsors ul, .single-sponsors ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

@media only screen and (min-width: 1024px) {
    .page-sponsors .sponsor-group, .single-sponsors .sponsor-group {
        border-top: none;
    }
}

.page-sponsors #sponsor, .single-sponsors #sponsor {
    padding: 0 20px;
}

.page-sponsors #sponsor h2, .single-sponsors #sponsor h2 {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
}

.page-sponsors .sponsor-info img, .single-sponsors .sponsor-info img {
    margin-bottom: 25px;
}

.page-sponsors .sponsor-info h4, .single-sponsors .sponsor-info h4 {
    color: #bb6c44;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 16px;
}

.page-sponsors .secondary-section, .single-sponsors .secondary-section {
    text-align: center;
}

@media only screen and (min-width: 1024px) {
    .page-sponsors #sponsor, .single-sponsors #sponsor {
        padding: 0;
        margin-top: 0;
    }

    .page-sponsors .sponsor-info, .single-sponsors .sponsor-info {
        width: 30%;
        float: left;
    }

    .page-sponsors .sponsor-info img, .single-sponsors .sponsor-info img {
        width: 100%;
    }

    .page-sponsors article, .single-sponsors article {
        width: 70%;
        float: left;
        padding-left: 35px;
    }
}

.single-sponsors .sponsors-wrap {
    border-top: none;
}

.single-sponsors .sponsors-wrap h2 {
    margin-top: 0;
}

.single-sponsors .sponsor-group {
    margin-top: 50px;
    padding-top: 50px;
    border-top: 1px solid #ccc;
}

.single-sponsors .sponsor-group:first-child {
    margin-top: 0px;
    padding-top: 0px;
    border-top: none;
}

.page-speakers ul, .single-speakers ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.page-speakers #all-speakers ul, .page-speakers #featured-speakers ul,
.page-speakers #featured-speaker ul, .single-speakers #all-speakers ul,
.single-speakers #featured-speakers ul, .single-speakers #featured-speaker ul {
    margin-top: 15px;
}

.single-speakers .bios {
    border-top: 1px solid #ccc;
    text-align: center;
}

.page-speakers #all-speakers h2 {
    margin-top: 25px;
}

@media only screen and (min-width: 768px) {
    .page-speakers #all-speakers h2 {
        margin-top: 0;
    }
}

.featured-bios {
    border-top: 1px solid #ccc;
    text-align: center;
}

.featured-bios .bio {
    width: 250px;
}

.page-advisory-board ul, .single-advisory-board ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.page-advisory-board #advisory-board ul,
.page-advisory-board #full-advisory-board ul,
.page-advisory-board #featured-bio ul, .single-advisory-board #advisory-board ul,
.single-advisory-board #full-advisory-board ul,
.single-advisory-board #featured-bio ul {
    margin-top: 15px;
}

.single-advisory-board .bios {
    text-align: center;
}

.page-resources #featured-resource {
    padding-top: 25px;
    padding-bottom: 25px;
}

@media only screen and (min-width: 768px) {
    .page-resources #featured-resource {
        padding-top: 75px;
        padding-bottom: 75px;
    }
}

.page-resources #featured-resource h2, .page-resources .resource h2 {
    margin: 25px 0;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
    letter-spacing: normal;
}

.page-resources #featured-resource ul, .page-resources .resource ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.page-resources #featured-resource ul span, .page-resources .resource ul span {
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: .5px;
    color: #bb6c44;
}

.page-resources #featured-resource .button, .page-resources .resource .button {
    margin-top: 25px;
}

@media only screen and (min-width: 768px) {
    .page-resources #featured-resource li, .page-resources .resource li {
        display: inline-block;
        margin-right: 10px;
    }
}

.page-resources .resource {
    border-top: 1px solid #ccc;
    padding-top: 25px;
}

@media only screen and (min-width: 768px) {
    .page-resources .resource {
        padding-top: 75px;
    }
}

.page-resources .resource:nth-child(3) {
    padding-top: 0;
    border: none;
}

.page-resources figure {
    width: 50%;
}

@media only screen and (min-width: 768px) {
    .page-resources figure {
        float: left;
        width: 25%;
        padding-right: 25px;
    }
}

.page-resources figure img {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .page-resources article {
        float: left;
        width: 75%;
    }

    .page-resources article h2 {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
}

#featured-photo-video figure {
    margin-top: 25px;
    cursor: pointer;
}

#featured-photo-video figure .media-wrap {
    position: relative;
}

#featured-photo-video figure img {
    width: 100%;
    height: auto;
}

#featured-photo-video figure span {
    -webkit-transition: .3s linear;
            transition: .3s linear;
    font-size: 60px;
    position: absolute;
    bottom: 25px;
    left: 25px;
    z-index: 1;
    color: #fff;
}

#featured-photo-video figure figcaption h3 {
    color: #9e865a;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    font-weight: normal;
    font-size: 18px;
    margin-top: 10px;
}

@media only screen and (min-width: 768px) {
    #featured-photo-video figure {
        margin-top: 0;
        width: 50%;
        padding: 0 20px;
    }
}

#featured-photo-video figure:hover span {
    color: #ccc;
}

#featured-photo-video figure:first-child {
    margin-top: 0;
}

.video-photo {
    border-top: 1px solid #ccc;
}

.video-photo figure {
    width: 100%;
    margin-top: 25px;
    cursor: pointer;
}

.video-photo figure .media-wrap {
    position: relative;
}

.video-photo figure img {
    width: 100%;
    height: auto;
}

.video-photo figure span {
    -webkit-transition: .3s linear;
            transition: .3s linear;
    font-size: 40px;
    position: absolute;
    bottom: 12px;
    left: 12px;
    color: #fff;
}

@media only screen and (min-width: 768px) {
    .video-photo figure {
        width: 25%;
        display: inline-block;
        margin-top: 40px;
        margin-right: -4px;
        margin-left: 0px;
        padding: 0 20px;
    }
}

.video-photo figure:hover span {
    color: #ccc;
}

.video-photo figcaption {
    padding: 10px 10px 0;
    font-size: 16px;
}

.video-photo:nth-child(3) {
    border-top: none;
}

.video-photo:nth-child(3) h2 {
    margin-top: 0;
}

@media only screen and (min-width: 768px) {
    #all-video {
        margin-top: 75px;
    }
}

.page-agenda ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#agenda {
    border-top: 1px solid #ccc;
    padding-top: 25px;
}

@media only screen and (min-width: 768px) {
    #agenda {
        padding-top: 75px;
    }
}

#agenda .agenda-info ul {
    list-style: none;
    margin: 25px 0 50px 0;
    padding: 0;
    color: #000;
}

#agenda .agenda-info .date {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

#agenda .agenda-info .location {
    font-size: 16px;
}

@media only screen and (min-width: 768px) {
    #agenda .agenda-info {
        float: left;
        width: 25%;
        padding-right: 25px;
    }

    #agenda .agenda-info ul {
        list-style: none;
        margin: 0;
        padding: 0;
        color: #000;
    }

    #agenda .agenda-info .date {
        font-size: 26px;
    }

    #agenda .agenda-info .location {
        font-size: 20px;
    }
}

#agenda .agenda-details h3 {
    margin: 50px 0 5px 0;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: .5px;
    color: #bb6c44;
}

#agenda .agenda-details article h2 {
    margin-top: 0;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
    letter-spacing: normal;
}

#agenda .agenda-details article h3 {
    margin: 0;
}

#agenda .agenda-details .bio {
    margin: 0;
    margin-top: 0;
    margin-bottom: 25px;
}

#agenda .agenda-details .bio li {
    margin-top: 0;
}

#agenda .agenda-details .bio h4 a {
    font-weight: 600;
    color: #000;
}

#agenda .agenda-details .bio h4 a:hover {
    color: #006529;
}

#agenda .agenda-details .company {
    color: #545454;
}

@media only screen and (min-width: 768px) {
    #agenda .agenda-details {
        float: right;
        width: 75%;
    }

    #agenda .agenda-details .bio {
        padding: 0 20px 0 0;
        width: 33%;
        font-size: 16px;
    }
}

#agenda:nth-child(4) {
    border-top: none;
    padding-top: 0;
}

.page-home ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.page-home article {
    margin-top: 25px;
}

@media only screen and (min-width: 768px) {
    .page-home article {
        margin-top: 75px;
    }
}

.page-home #featured-speakers {
    text-align: center;
}

.page-home #featured-speakers ul {
    margin-top: 15px;
}

#mfb {
    position: relative;
    width: 100%;
}

@media only screen and (min-width: 768px) {
    #mfb {
        height: 34.51vw;
        max-height: 450px;
        padding-left: 0 !important;
        padding-right: 0 !important;
        border-left: 20px solid #fff !important;
        border-right: 20px solid #fff !important;
    }
}

@media only screen and (min-width: 1255px) {
    #mfb {
        border-left: none !important;
        border-right: none !important;
    }
}

#mfb img {
    display: default;
    width: 100%;
    height: auto;
    z-index: -1;
}

@media only screen and (min-width: 768px) {
    #mfb img {
        position: absolute;
        top: 0;
        left: 0;
        width: auto;
        height: 34.51vw;
        max-height: 450px;
    }
}


@media only screen and (min-width: 768px) {
    #mfb ul {
        float: right;
        display: table;
        width: 37%;
        height: 34.51vw;
        max-height: 450px;
    }
}

@media only screen and (min-width: 768px) {
    #mfb li {
        display: table-row;
    }
}

@media only screen and (min-width: 768px) {
    #mfb li a {
        vertical-align: middle;
        display: table-cell;
    }
}


#info {
    margin-top: 25px;
}

#other-conferences {
    text-align: center;
}

#other-conferences .conference-bio {
    margin-top: 25px;
    text-align: left;
    border-top: 1px solid #ccc;
    padding-top: 25px;
}

@media only screen and (min-width: 768px) {
    #other-conferences .conference-bio {
        border-top: none;
        float: left;
        width: 25%;
        border-left: 1px solid #ccc;
        padding: 0 20px;
        margin-top: 75px;
    }
}

#other-conferences .conference-bio img {
    float: right;
    width: 25%;
    margin-left: 10px;
}

@media only screen and (min-width: 768px) {
    #other-conferences .conference-bio img {
        margin-left: 0;
        float: none;
        width: 100%;
    }
}

#other-conferences .conference-bio a .title {
    color: #000;
    font-weight: 600;
}

#other-conferences .conference-bio a:hover .title {
    color: #006529;
}

#other-conferences .conference-bio:nth-child(2) {
    border: none;
}

#other-conferences .date {
    text-transform: uppercase;
    color: #bb6c44;
    font-weight: 600;
    font-size: 15px;
}

@media only screen and (min-width: 768px) {
    #other-conferences .date {
        margin-top: 15px;
    }
}
