#main-nav {
  position: absolute;
  z-index: 3;
  width: 100%;
  margin-top: 64px;
  background-color: #f9f9f9;
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    &.not-active {
      display: none;
      &.active { display: block; }
    }
  }
  li {
    border-bottom: 1px solid #ccc;
    list-style-type: none;
    &:first-child {
      border-top: none;
      border-bottom: 4px solid #ccc;
    }
  }
  a {
    display: block;
    padding: 15px 20px;
    color: #000;
    text-decoration: none;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 600;
    font-size: 18px;
    .icon-arrow-left { margin-right: 5px; }
    .icon-arrow-right {
      float: right;
      margin-top: 3px;
    }
  }
  .register {
    display: none;
    &:hover { background-color: #cf6c3a; }
  }
}

#secondary-header {
  overflow: hidden;
  .conference-info {
    position: relative;
    z-index: 2;
  }
  .background-image {
    visibility: hidden;
    position: absolute;
    margin: -25px 0 0;
    z-index: 1;
    right: 0;
  }
}

.tab-nav {
  width: 100%;
  text-align: center;
  padding: 0;
  ul {
    margin: 0;
    padding: 0 !important;
    list-style: none;
    li {
      cursor: pointer;
      border-bottom: 1px solid $pi-light-gray;
      &:first-child { border-top: 1px solid $pi-light-gray; }
      a {
        display: block;
        padding: 20px 0;
        text-transform: uppercase;
        color: #000;
        font-family: "Oswald", sans-serif;
        font-size: 18px;
        letter-spacing: 1px;
        border-bottom: 4px solid transparent;
        text-decoration: none;
        &:hover { background-color: $pi-lighter-gray; }
      }
      &.current a {
        color: $pi-orange;
        border-bottom: 4px solid $pi-orange;
      }
    }
  }
}

.button {
  cursor: pointer !important;
  text-decoration: none !important;
  display: inline-block;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  width: 100%;
  padding: 10px 40px;
  letter-spacing: 1px;
  text-align: center;
  .icon-arrow-right { margin: 0 0 0 35px; }
  &.button-green {
    background-color: #00451c;
    color: #ffffff;
    font-size: 14px;
    &:hover { background-color: #006529;}
  }
  &.button-orange {
    font-size: 14px;
    background-color: $pi-orange;
    &:hover { background-color: $pi-light-orange; }
  }
  &.button-gray {
    font-size: 14px;
    background-color: $pi-lightest-gray;
    color: #000000;
    &:hover { background-color: $pi-lighter-gray; }
  }
}

.section {
  padding: 25px 25px 50px;
  text-align: center;
  border-top: 1px solid $pi-light-gray;
  &.no-border { border: none; }
  .title {
    margin: 0 0 15px;
    font-family: "Roboto Condensed",sans-serif;
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    color: #9e865a;
    &.sub {
      font-family: "Oswald",sans-serif;
      font-size: 18px;
    }
  }
}

.masthead {
  border: none;
  .links {
    display: none;
    text-align: center;
    a {
      width: 30%;
      margin: 35px 15px 0;
      padding: 25px;
      font-size: 14px;
    }
  }
  .summary {
    padding: 25px 0 0;
    text-align: center;
  }
}

.agendas {
  .speaker .flags { margin: -20px 0 0 -10px; }
  .html {
    p {
      text-align: center;
      strong {
        color: #9e865a;
      }
    }
  }
  .agenda-info {
    padding: 0;
    text-align: center;
    font-weight: 700;
    ul { padding: 0; }
    li {
      list-style: none;
      padding: 0 20px;
      margin: 5px 0 0;
      width: 100%;
      a {
        span {
          text-align: left;
          &:first-child { padding: 0 10px 0; }
        }
        display: block;
        width: 100%;
        padding: 20px;
        font-size: 16px;
        font-weight: 600;
        background-color: #f8f5ee;
        color: #000;
      }
    }
  }
}

.resources {
  .featured-resource {
    border: none;
    background-color: $pi-lightest-gray;
    padding-top: 0;
    .resource { margin: 0; padding: 50px 50px 0; }
    .icon-arrow-right { display: none; }
  }
  .whitepapers, .supplements {
    .button-green {
      text-align: left;
      background-color: #ffffff;
      padding: 0;
      color: $pi-green;
      &:hover { color: #006529;}
    }
  }
}

.sponsors {
  .opportunities .sponsor {
    padding: 0;
    text-align: left;
    .detail { padding: 35px 0 0; }
  }
}

.venues {
  .summary {
    iframe {
      padding: 25px 0;
      width: 100%;
    }
    p > strong {
      text-align: center;
      margin-top: 75px;
      font-family: "Oswald",sans-serif;
      font-size: 18px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: normal;
      color: #9e865a;
    }
    a  {
      strong { font-weight: normal; }
      font-family: "Oswald",sans-serif;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: normal;
      color: #9e865a;
    }
    text-align: left;
  }
}

.contact {
  .summary {
    text-align: left;
    padding: 35px 0 0;
    h1, strong, b, p > strong > span {
      margin: 0 !important;
      text-align: center;
      margin-top: 75px;
      font-family: "Oswald",sans-serif;
      font-size: 18px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: normal;
      color: #9e865a;
    }
    p > strong > span {
      font-size: 18px !important;
      font-family: "Oswald",sans-serif !important;
    }
    &>p { padding: 10px 0 0; }
  }
}

.multimedia {
  .photos {
    padding: 50px 0 0;
    .photo {
      a img {width: 100%; }
    }
  }
}

.listing {
  .button { margin: 35px 0 0; }
  .event .title { text-align: left; }
  &:nth-child(3n+3) { border-right: none; }  /* every third element */
  &:nth-child(-n+3) { /* first three element */
    .content { padding: 0; }
    border-top: none;
  }
}

.other {
  border: none;
  background-color: $pi-lightest-gray;
  .section { border: none; }
  .listing {
    padding-top: 10px;
    border-top: none;
  }
  .event {
    &:hover {
      .event-logo { opacity: .7; }
      .content .info .title a { color: $pi-green; }
    }
    border-top: 1px solid $pi-light-gray;
    padding: 15px 0 0;
    margin: 15px 0;
    .content {
      padding: 0;
      width: 75%;
      float: left;
      text-align: left;
      .info {
        .date {
          font-size: 16px;
          font-weight: 600;
          color: $pi-orange;
        }
        .title {
          font-family: "Source Sans Pro", sans-serif;
          text-transform: none;
          padding: 0;
          margin: 0;
          font-weight: 600;
          font-size: 18px;
        }
      }
    }
    .event-logo {
      width: 25%;
      float: right;
    }
  }

}

.svg-logo {
  display: inline-block;
  svg {
    overflow: hidden;
    width: 165px;
    height: 23px;
  }
}

a { text-decoration: none !important; }

@media only screen and (min-width: 768px) {
  main .section:first-child { border-top: none; }
  .section {
    padding: 50px 0;
    .title { font-size: 32px; }
  }
  .masthead .links {display: block;}
  .agendas {
    .agenda-info {
      li {
        display: inline-block;
        width: 33.333%;
      }
    }
   .html p { text-align: left; }
   .summary ul {
      margin: 35px 0;
      li { text-align: left; }
    }
  }
  .tab-nav {
    border-bottom: 1px solid $pi-light-gray;
    ul {
      border-top: none;
      min-height: 35px;
      li {
        display: inline-block;
        min-width: 175px;
        border: none;
        a:hover {
          background-color: #ffffff;
          border-bottom: 4px solid $pi-orange;
        }
        &:first-child { border-top: none; }
      }
    }
  }
  .listing {
    .button {
      margin: 35px auto 0;
      display: block;
      width: auto;
      max-width: 300px;
     }
    .title { font-size: 22px; margin: 0; }
  }
  .venue-nav {
    border-top: 0;
    ul {
      width: 60%;
      margin: auto;
    }
    li {
      border-top: 0;
      width: 50%;
      display: inline-block;
      a:hover { background-color: transparent; }
    }
  }
  .other {
    .title { padding: 0 0 35px; }
    .event {
      border: none;
      width: 20%;
      min-height: 175px;
      margin: 0 15px 0;
      padding: 0;
      display: inline-block;
      vertical-align: top;
      .content {
        width: auto;
        height: auto;
      }
      .event-logo {
        height: auto;
        max-height: 225px;
        width: 100%;
        max-width: 100%;
        padding: 0 0 15px;
      }
    }
  }
  .speakers {
    .opportunities {
      .speaker {
        width: 100%;
        .info {
          width: 30%;
          float:left;
          text-align: left;
          .name { font-size: 20px; }
        }
        .description {
          padding: 0 0 0 45px;
          width: 70%;
          float: left;
          margin: -5px 0 0;
          p:first-child { margin: 0; }
        }
      }
    }
  }
  .venues .section.wrap-three { padding-top: 0; }
  .multimedia {
    #featured-photo-video {
      .photo { margin: 0 auto; }
    }
  }
  .sponsors {
    .opportunities .sponsor .detail { padding: 35px 0 0 125px; }
  }
}

@media only screen and (min-width: 1024px) {
  .spacer { padding: 0 5px 0; }
  .section .title { font-size: 42px; }
  #secondary-header .background-image { visibility: visible !important; }
  .agendas {
    .date, .space { font-size: 26px !important; }
    .agenda-info {
      a span { font-size: 22px; }
      margin: 0 0 75px;
    }
    .agenda-description {
      &>.name { font-size: 32px; }
      padding: 0 0 50px;
    }
    .speaker .name { font-size: 22px; }
  }
  .venue-nav a { font-size: 22px; }
  #main-nav {
    display: block;
    position: relative;
    z-index: 0;
    background-color: transparent;
    margin-top: 0;
    background-color: #fff;
    ul.not-active {
     display: block;
     float: left;
     padding-left: 5px;
    }
    li {
     border-bottom: none;
     display: inline-block;
     padding: 0 15px;
     &:first-child { display: none; }
     &.current { background-color: #f9f9f9; }
     &:hover a, a.current { border-bottom: 4px solid #bb6c44; }
    }
    a {
     font-size: 16px;
     padding: 26px 0 23px;
     border-bottom: 4px solid transparent;
     .icon-arrow-right { display: none; }
    }
    .register {
     display: block;
     float: right;
     padding: 15px 35px;
     background-color: #bb6c44;
     margin: 10px 20px 10px 0;
     color: #fff;
     font-family: "Oswald", sans-serif;
     font-size: 18px;
     font-weight: normal;
     letter-spacing: .5px;
     text-transform: uppercase;
     border: 0;
    }
  }
}
