.event {
  font-family: "Source Sans Pro",sans-serif;
  .event-logo { width: 100%; }
  .content {
    color: $pi-gray;
    padding: 10px 0 0;
    .info {
      .date {
        font-size: 16px;
        text-transform: uppercase;
      }
      .title {
        font-family: "Gotham Narrow A","Gotham Narrow B";
        font-weight: 500;
        color: #000000;
        font-size: 24px;
        padding: 5px 0 0;
        a { color: #000000; }
      }
      .description {
        padding: 5px 0 0;
      }
    }
    .location {
      font-family: "Oswald", sans-serif;
      padding: 15px 0 20px;
      letter-spacing: 1px;
      font-size: 18px;
      font-weight: 300;
      color: $pi-orange;
      text-transform: uppercase;
      text-align: left;
      border-bottom: 2px solid $pi-light-gray;
      .icon-arrow-right {
        font-size: 14px;
        margin: 5px 0 0 5px;
        float: right;
        &:after {
          content: " ";
          background: url(/img/icons/arrow-right.svg) no-repeat 50% 50% rgba(255, 255, 255, 0.1);
          background-size: 12px;
          padding: 0 20px;
          position: absolute;
          top: 0;
          right: 0;
          height: 100%;
        }
      }
    }
  }
  &.inverse {
    .content {
      padding: 0;
      .locations {
        display: block;
        background-color: #242424;
        .location {
          border: none;
          position: relative;
          text-decoration: none;
          display: block;
          color: #ffffff;
          font-size: 12px;
          padding: 25px 45px 25px 25px;
          width: 100%;
          line-height: normal;
          letter-spacing: 1px;
          &:hover { background-color: #393939; }
          &:nth-child(2) { background-color: #2c2c2c; }
          &:nth-child(2):hover { background-color: #424242;}
          .venue {
            color: #f1e4c7;
            font-size: 12px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .masthead .links a {
    padding: 25px 50px;
    width: auto;
  }
  .event {
    padding: 0 20px;
    position: relative;
    .event-logo {
      width: auto;
      float: left;
      max-width: 65%;
      height: 34.51vw;
      max-height: 450px;
    }
    .content {
      float: left;
      height: 34.51vw;
      max-height: 450px;
      width: 34%;
      .locations {
        height: 100%;
        .location {
          border: none;
          height: 25%;
        }
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .masthead .links a {
    font-size: 20px !important;
    width: 30%;
  }
  .event {
    padding: 0 !important;
    &.inverse .content {
      .locations .location {
        font-size: 22px;
        .venue { font-size: 18px; }
      }
    }
  }
}
