@font-face {
    font-family: "slick";
    src: url("./fonts/slick.eot");
    src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"),
         url("./fonts/slick.woff") format("woff"),
         url("./fonts/slick.ttf") format("truetype"),
         url("./fonts/slick.svg#slick") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ns-fonts';
    src: url("../../fonts/ns-fonts.eot?76qmfw");
    src: url("../../fonts/ns-fonts.eot?76qmfw#iefix") format("embedded-opentype"),
         url("../../fonts/ns-fonts.ttf?76qmfw") format("truetype"),
         url("../../fonts/ns-fonts.woff?76qmfw") format("woff"),
         url("../../fonts/ns-fonts.svg?76qmfw#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
}
