// style guide as provided by northstreet
// pionline.com 2015
@import "./variables";

html {
  box-sizing: border-box;
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  width: 100%;
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #545454;
  width: 100%;
  height: 100%;
}

*, *::after, *::before {
  box-sizing: inherit;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 10px 0 0px 0;
  padding: 0;
}

audio, canvas, iframe, img, svg, video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea { resize: vertical; }

code {
  color: #000000;
  font-size: 12px;
  margin: 0 0 15px 0;
}

a {
  text-decoration: none;
  color: #545454;
  outline: none;
  -webkit-transition: all .2s linear;
          transition: all .2s linear;
  img {
      -webkit-backface-visibility: hidden;
      -webkit-transition: all .2s linear;
              transition: all .2s linear;
  }
  &:hover img { opacity: .7; }
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

.clearfix {
  content: " ";
  *zoom: 1;
  &:before { display: table; }
  .clearfix:after { display: table; clear: both; }
}

.button {
  margin: 0;
  padding: 10px 40px;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Oswald";
  font-size: 18px;
  &.primary-btn { background-color: $pi-green;}
  &.tout-btn { background-color: $pi-lighter-green; }
  &.event-btn { background-color: $pi-orange; }
  &.secondary-btn {
    margin: 0 0 0 12px;
    background-color: #ffffff;
    color: $pi-green;
    &.event-btn { color: $pi-orange; }
    &:after {
      content: " ";
      background: url(/img/icons/arrow-right.svg) no-repeat 50% 50%;
      background-size: 12px;
      padding: 0 15px;
      top: 0;
      right: 0;
      height: 100%;
    }
  }
  &:hover {
    opacity: .8;
  }
}

.event-headline {
  font-family: "Gotham Narrow A", "Gotham Narrow B";
  font-weight: 500;
  font-size: 44px;
  color: #000000;
}

.section-headline {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: "Oswald";
  font-size: 42px;
  color: #9e865a;
  &.sub { font-size: 22px; }
}

.section-title {
  font-family: "Source Sans Pro";
  font-size: 32px;
  font-weight: 500;
  color: #000000;
}

.kicker {
  text-transform: uppercase;
  font-family: "Oswald";
  font-size: 15px;
  &.primary { color: #bb6c44 }
  &.secondary { color: #979797; }
}

.caption {
  font-family: "Droid Serif";
  font-size: 12px;
  color: #6c6c6c;
  .credit {
    padding: 0 0 0 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: "Oswald";
    font-size: 11px;
    font-weight: bold;
    color: #b8b8b8;
  }
}



// layout
.wrap-one {
  max-width: 1200px;
  margin: 0 auto;
}

.wrap-two {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
}

.wrap-three {
  max-width: 895px;
  margin: 0 auto;
}

.mobile { display: block; }

.section {
  .secondary-section {
    background-color: #f8f5ee;
    padding: 25px 20px;
  }
}
