[class^="icon-"], [class*=" icon-"] {
    font-family: 'ns-fonts';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
    content: "\e801";
}

.icon-calendar:before {
    content: "\e603";
}

.icon-download:before {
    content: "\e604";
}

.icon-envelope:before {
    content: "\e605";
}

.icon-location:before {
    content: "\e606";
}

.icon-person:before {
    content: "\e607";
}

.icon-play:before {
    content: "\e608";
}

.icon-search:before {
    content: "\e800";
}

.icon-slideshow:before {
    content: "\e609";
}

.icon-instagram-brand:before {
    content: "\21";
}

.icon-searchleft:before {
    content: "\2a";
}

.icon-downarrow:before {
    content: "\36";
}

.icon-blocks:before {
    content: "\44";
}

.icon-facebook:before {
    content: "\45";
}

.icon-facebook-circle:before {
    content: "\46";
}

.icon-google:before {
    content: "\47";
}

.icon-facebook-circle-s:before {
    content: "\48";
}

.icon-instagram:before {
    content: "\49";
}

.icon-linkedin:before {
    content: "\4c";
}

.icon-pinterest-circle:before {
    content: "\50";
}

.icon-rss-circle:before {
    content: "\52";
}

.icon-paintbrush:before {
    content: "\53";
}

.icon-twitter-circle:before {
    content: "\54";
}

.icon-x-block:before {
    content: "\58";
}

.icon-youtube-circle:before {
    content: "\59";
}

.icon-leftarrow-circle:before {
    content: "\5b";
}

.icon-rightarrow-circle:before {
    content: "\5d";
}

.icon-checkmark:before {
    content: "\60";
}

.icon-hammer:before {
    content: "\61";
}

.icon-clipboard:before {
    content: "\63";
}

.icon-facebook-f:before {
    content: "\66";
}

.icon-microphone:before {
    content: "\6b";
}

.icon-icon-phone:before {
    content: "\6f";
}

.icon-pinterest:before {
    content: "\70";
}

.icon-pinterest-circle-s:before {
    content: "\71";
}

.icon-twitter:before {
    content: "\74";
}

.icon-x:before {
    content: "\78";
}

.icon-checklist:before {
    content: "\7a";
}

.icon-feed:before {
    content: "\e601";
}

.icon-play-circle:before {
    content: "\e600";
}
