.resource {
  padding: 50px 50px 0;
  text-align: left;
  a img { border: 1px solid $pi-light-gray; }
  .name {
    color: #000000;
    font-weight: 600;
    font-size: 18px;
    padding: 25px 0 0;
    font-family: "Source Sans Pro",sans-serif;
  }
  .sponsor-info {
    padding: 15px 0 0;
    .company {
      color: #bb6c44;
      font-family: "Oswald", sans-serif;
      text-transform: uppercase;
      letter-spacing: .5px;
      padding: 0 5px 0 0;
    }
  }
  .description { padding: 15px 0 0; }
}

@media only screen and (min-width: 768px) {
  .resource {
    margin: 35px 0 0;
    border-top: 1px solid $pi-light-gray;
    &:first-child {
      margin-top: 0;
      padding-top: 0;
      border: none;
    }
    a img {
      width: 25%;
      float: left;
    }
    .info {
      .name { padding: 0; }
      .button {
        margin: 35px 0 0;
        font-size: 18px;
       }
      width: 75%;
      float: left;
      padding: 0 0 0 45px;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .resource {
    .info .name  { font-size: 32px;}
  }
}
