@import "./includes/fonts";

.slick-slider {
    position: relative;
    display: block;
         box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track, .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
}

.slick-track:before, .slick-track:after {
    content: "";
    display: table;
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none;
}

[dir="rtl"] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-loading .slick-list {
    background: #fff url("/img/ajax-loader.gif") center center no-repeat;
}

.slick-prev, .slick-next {
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    margin-top: -10px;
    padding: 0;
    border: none;
    outline: none;
}

.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent;
}

.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before,
.slick-next:focus:before {
    opacity: 1;
}

.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
    opacity: 0.25;
}

.slick-prev:before, .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: #fff;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
    left: -25px;
}

[dir="rtl"] .slick-prev {
    left: auto;
    right: -25px;
}

.slick-prev:before {
    content: "←";
}

[dir="rtl"] .slick-prev:before {
    content: "→";
}

.slick-next {
    right: -25px;
}

[dir="rtl"] .slick-next {
    left: -25px;
    right: auto;
}

.slick-next:before {
    content: "→";
}

[dir="rtl"] .slick-next:before {
    content: "←";
}

.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: -45px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    width: 100%;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button {
    border: 0;
    background: transparent;
    display: block;
    height: 20px;
    width: 20px;
    outline: none;
    line-height: 0px;
    font-size: 0px;
    color: transparent;
    padding: 5px;
    cursor: pointer;
}

.slick-dots li button:hover, .slick-dots li button:focus {
    outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
    opacity: 1;
}

.slick-dots li button:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "•";
    width: 20px;
    height: 20px;
    font-family: "slick";
    font-size: 6px;
    line-height: 20px;
    text-align: center;
    color: #000;
    opacity: 0.25;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
    color: #000;
    opacity: 0.75;
}

.slick-lightbox {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: #000;
    -webkit-transition: opacity .5s ease;
            transition: opacity .5s ease;
}

.slick-lightbox.slick-hide {
    opacity: 0;
}

.slick-lightbox.slick-hide-init {
    position: absolute;
    top: -9999px;
    opacity: 0;
}

.slick-lightbox.slick-lightbox-ie.slick-hide,
.slick-lightbox.slick-lightbox-ie.slick-hide-init {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
}

.slick-lightbox .slick-lightbox-inner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slick-lightbox .slick-lightbox-inner .slick-lightbox-slick .slick-lightbox-slick-item {
    text-align: center;
    overflow: hidden;
}

.slick-lightbox .slick-lightbox-inner .slick-lightbox-slick .slick-lightbox-slick-item:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}

.slick-lightbox .slick-lightbox-inner .slick-lightbox-slick .slick-lightbox-slick-item .slick-lightbox-slick-item-inner {
    display: inline-block;
    vertical-align: middle;
    max-width: 90%;
    max-height: 90%;
}

.slick-lightbox .slick-lightbox-inner .slick-lightbox-slick .slick-lightbox-slick-item .slick-lightbox-slick-item-inner .slick-lightbox-slick-img {
    margin: 0 auto;
    display: block;
    max-width: 90%;
    max-height: 90%;
}

.slick-lightbox .slick-lightbox-inner .slick-lightbox-slick .slick-lightbox-slick-item .slick-lightbox-slick-item-inner .slick-lightbox-slick-caption {
    margin-top: 10px;
    color: #fff;
}

.slick-lightbox .slick-lightbox-inner .slick-lightbox-slick.slick-caption-bottom .slick-lightbox-slick-item .slick-lightbox-slick-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

.slick-lightbox .slick-lightbox-inner .slick-lightbox-slick.slick-caption-dynamic .slick-lightbox-slick-item .slick-lightbox-slick-caption {
    display: block;
    text-align: center;
}

.slick-lightbox .slick-lightbox-inner .slick-lightbox-close {
    position: absolute;
    top: 15px;
    right: 15px;
    display: block;
    height: 20px;
    width: 20px;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    background: transparent;
    color: transparent;
    padding: 0;
    border: none;
}

.slick-lightbox .slick-lightbox-inner .slick-lightbox-close:focus {
    outline: none;
}

.slick-lightbox .slick-lightbox-inner .slick-lightbox-close:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: #fff;
    opacity: .85;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: '×';
}

.slick-lightbox .slick-loading .slick-list {
    background-color: transparent;
}

.slick-lightbox .slick-prev {
    left: 15px;
}

.slick-lightbox .slick-next {
    right: 15px;
}

.modal, .slick-lightbox {
    width: inherit;
    height: inherit;
    background-color: #000 !important;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    color: #ccc;
}

.modal .modal-logo, .slick-lightbox .modal-logo {
    position: absolute;
    left: 25px;
    top: 25px;
    width: 200px;
}

.modal span, .slick-lightbox span {
    position: absolute;
    right: 25px;
    top: 25px;
    font-size: 25px;
    display: block;
    cursor: pointer;
}
.modal .modal-container, .modal .slick-slider, .slick-lightbox .modal-container,
.slick-lightbox .slick-slider {
    position: relative;
    width: 100%;
    max-width: none !important;
    margin: 0 auto;
}

.modal .modal-container img, .modal .slick-slider img,
.slick-lightbox .modal-container img, .slick-lightbox .slick-slider img {
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
}

.modal iframe, .slick-lightbox iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.modal p, .slick-lightbox p {
    width: 100%;
    padding: 0 20px;
    margin: 16px auto;
    text-align: left;
}

.slick-lightbox:before {
    content: " ";
    display: block;
    position: absolute;
    top: 25px;
    left: 25px;
    background: url(../img/logo-gray-2.svg);
    height: 28px;
    width: 200px;
}



.slick-lightbox .slick-lightbox-inner .slick-lightbox-close {
    top: 13px;
    right: 13px;
    height: 50px;
    width: 50px;
}

.slick-lightbox .slick-lightbox-inner .slick-lightbox-close:before {
    font-size: 25px;
    content: "\78";
    font-family: 'ns-fonts';
}

.slick-lightbox .slick-lightbox-slick-img {
    width: 968px;
}

.slick-slider {
    margin-bottom: 30px;
    margin: 0 auto;
    max-width: 713px;
}

.slick-current {
    max-width: 713px !important;
}

.slick-prev:before, .slick-next:before {
    font-family: none;
    background: url(../img/icons/arrow-right.svg);
    width: 20px;
    font-size: 0;
}

.slick-prev {
    left: -100px;
    width: 40px;
    height: 40px;
    z-index: 2;
    -webkit-transition: .2s ease-in-out;
            transition: .2s ease-in-out;
}

.slick-next {
    right: -100px;
    width: 40px;
    height: 40px;
    z-index: 2;
    -webkit-transition: .2s ease-in-out;
            transition: .2s ease-in-out;
}

.slick-prev:before {
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    background: url(../img/icons/arrow-left.svg) no-repeat 50% 50%;
}

.slick-next:before {
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    background: url(../img/icons/arrow-right.svg) no-repeat 50% 50%;
}



@media only screen and (min-width: 768px) {
    .slick-lightbox .slick-lightbox-inner .slick-lightbox-close {
        top: 38px;
        right: 38px;
    }
    .slick-lightbox .slick-slider {
        width: 61.75% !important;
    }

    .modal .modal-logo, .slick-lightbox .modal-logo {
        left: 50px;
        top: 50px;
    }

    .slick-lightbox:before {
        top: 50px;
        left: 50px;
    }

    .modal p, .slick-lightbox p {
        padding: 0;
        width: 50%;
    }

    .modal .modal-container, .modal .slick-slider,
    .slick-lightbox .modal-container, .slick-lightbox .slick-slider {
        width: 50%;
    }

    .modal span, .slick-lightbox span {
        right: 50px;
        top: 50px;
    }
}
