.speaker {
  width: 250px;
  margin: 0 auto;
  .info { padding: 15px 0 0; }
  a img {
    width: 100%;
    padding: 35px 35px 15px;
  }
  .company {
    color: #bb6c44;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    letter-spacing: .5px;
  }
  .name {
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    a:hover { color: #006529; }
  }
  .accreditation {
    font-size: 14px;
  }
  .description {
    padding: 35px 0 0;
    text-align: left;
  }
  .flags {
    position: absolute;
    margin-top: -110px;
    span { margin-left: 10px; }
  }
}

@media only screen and (min-width: 768px) {
  .speaker {
    width: 250px;
    display: inline-block;
    vertical-align: top;
    margin: 35px 0 0;
    padding: 0 25px;
    a img { padding: 0 0 15px; }
  }
}
