.sponsor {
  width: 250px;
  margin: 0 auto;
  padding: 50px 0 0;
  a img {
    width: 100%;
    padding: 0 0 15px 0;
  }
  .bio { padding: 35px 0 0; }
  .company {
    padding: 0;
    color: #bb6c44;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    letter-spacing: .5px;
  }
  .name {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
  }
  .contact .name {
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    &.company-name { padding: 25px 0 0; }  .logo img { padding: 0 0 15px 0; }
  }
  .description { padding: 25px 0 0; }
}

@media only screen and (min-width: 768px) {
  .sponsor {
    width: 250px;
    display: inline-block;
    max-height: 250px;
    padding: 0 25px;
    margin: 50px 0 0;
    vertical-align: middle;
    a img { padding: 0; }
  }
  .opportunities {
    .sponsor {
      width: 100%;
      .bio {
        padding: 0 0 0 35px;
        width: 75%;
        float: left;
      }
      .logo { width: 25%; float: left; }
      .description {
        width: 75%;
        float: left;
        padding: 0 0 0 45px;
        .name { font-size: 32px; }
      }
    }
  }
}
