$pi-green: #137039;
$pi-light-green: #54946d;
$pi-lighter-green: #a4c6b1;
$pi-lightest-green: #c6dbce;

$pi-gray: #979797;
$pi-light-gray: #cccccc;
$pi-lighter-gray: #eeeeee;
$pi-lightest-gray: #f8f5ee;

$pi-red: #a11f30;
$pi-light-red: #b95765;
$pi-lighter-red: #d9a5ad;
$pi-lightest-red: #e7c7cb;

$pi-orange: #ca693d;
$pi-light-orange: #bb6c44;
$pi-lighter-orange: #ebc3b1;
$pi-lightest-orange: #f2dace;

// override bootstrap defaults
$brand-primary: $pi-orange;

// font icons
$flag-icon-css-path: '../img';